 /* PROJECT CSS  */
 *{
    margin: 0;
    padding: 0;
    
}

 body{
    height: 2000px;
    background-color: #212121;
    color: #fff;
  }
.left-nav .toggle-line{
    cursor: pointer;
    height: 3px;
    width: 20px;
    /* border: 2px solid; */
    margin: 1px;
    border-radius: 2px;
    background-color: #fff;
    background-color: black;
    /* margin-bottom: 3px; */
    

}
 
#rightlogo{
    position: absolute;
    top: 4px;
    right: 30px;
    height: 35px;
    width: 35px;

}

.left-nav .menu-bar{
    margin-top: 7px;
    cursor: pointer;
 }
.right-nav .pc-bar{
    margin-right: 100px;
}



.left-nav img{
    position: absolute;
    top: 14px;
    margin: px;
    height: 20px;
    border-radius: 50%;
    margin-left: 55px;
         

}

 

nav{
    position: fixed; 
     width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* background-color:rgba(87, 13, 13, 0.597); */
    /* background-color: black; */

    box-shadow: 1px 1px 1px;
    padding: 10px;
    font-size: larger;
    /* font-family:; */
    font-weight: bold;
    /* padding-top: ; */
    margin-bottom:30px ;
    background-color: #fff;
    color: black;
}
nav .left-nav{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    /* color: #fff; */
    
}

nav .nav-name{
    margin-left: 80px;
    position: absolute;
    top: 10px;
}

  .pc-bar ul{
    display: flex;
    list-style: none;
    align-items:end;
    
}

.pc-bar .dwnicon{
    height: 20px;
    width: 20px;
    /* margin-top: 20px; */
}
nav ul li{
    /* margin-left: 30px; */
    margin-right: 40px;
     font-family:monospace;
     font-weight: bold;
     
}



 

@media (max-width:768px) {
    .pc-bar{
        display: none;
    }

 

}

@media (min-width:768px) {
    .menu-bar{
        display: none;
    }
    .sidebar{
        display: none;
    }

        .right-logo{
        display: none;
    }

}

  .sidebar{
    
        background-color: #fff;
          
    width: 70%;
    height: 100%;

    position: fixed;
    top: 0;
    
    left: -1000px;
    /* z-index: 1000; */
    transition: left 1.5s, z-index 0.5s ;
    box-shadow: 1px 1px 10px black;
    color: black;

}
 
.sidebar.open {
  left:0;
 } 

 
 
 
.sidebar ul li{

    list-style:  none;
    margin: 8px;
    margin-left: 15px;
    font-family:monospace;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 24px;
}
 
.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li:last-child{
 margin-left: 25px;
}

 

.sidebar #Close{
    margin-right: 9px;
    margin-top: 10px;
    cursor: pointer;
    text-align: end;
}
 

#accountname{
    position: absolute; 
     bottom: 5px;
    left: 12px;
     font-size: 14px;


     

}

.sidebar .sidebar-nav{
    display: flex;
    justify-content: space-between;
}

#accountlogo{
        position: absolute;
        bottom: 25px;
        left: 10px;
 }
 
 #editicon1{
    height: 23px;
    margin: 10px;
    margin-top: 17px;
    margin-right: 17px;
 }

 #input{
    margin: 10px;
    border-radius: 20px;
    border: none;
    background-color: #12040442;
    height: 40px;
    width: 75%;
    padding-left: 10px;
  }

  #About{
    margin-top:50px ;
    border: 2px solid;
    padding: 10px;
    border-radius: 7px;
    font-size: large;
     font-weight: bold;
    font-family:monospace;

  }

  .project{
    display: flex;
    flex-direction: column;
     align-items: center;
        /* margin-top: 50px; */

    
  }

  .project .container{
        margin-top: 80px;

     font-weight: bold;
       /* background-color: white; */
    text-align: center;
    border: 2px solid black;
    /* box-shadow: 2px 2px 2px #A52A2A; */
    height: 400px;
    width: 250px;
    /* justify-content: center; */
    border-radius: 6px;
        box-shadow: 1px 1px 20px #fff;
        margin-bottom: 30px;

   }

  .container:hover{
        box-shadow: 1px 1px 10px yellow;
        .custom-btn{
        box-shadow: 1px 1px 10px #fff;
        }


  }

  h3{
    font-family:monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }
  
 .custom-btn{
    text-align: center;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 8px;
    padding-right: 3px;
    width: 80px;
    font-weight: bold;
    margin: 20px;
    background-color:#ffffff30;
      /* box-shadow: 1px 1px 10px #fff; */
              box-shadow: 1px 1px 10px yellow;


     
 
}
 
.custom-btn:hover{
    cursor: pointer;
    color: rgb(21, 16, 8);
    /* box-shadow: 1px 1px 20px white; */
            box-shadow: 1px 1px 10px yellow;

      width: 80px;

    

}

 @media (min-width: 768px) {
    .flexBox{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .container{
        margin-left: 40px;
        margin-right: 40px;
    }


 }
 

 
  

 .back img{
    height: 30px;
    width: 50px;
       display: inline-block;
    margin-left: 10px;
    margin-top: 50px;
    position: fixed;
     
 }

 .back  img:hover{
    box-shadow: 1px 1px 20px white;
    width: 55px;
    height: 35px;

    
 }