
.scroll-indicator {
  width: 20px;
  height: 50px;
  border: 4px solid ;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  margin: auto;
  animation: bounce-frame 4s infinite;

  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px #fff;
}

.scroll-dot {
  width: 15px;
    height: 15px;
  background-color: #fff;
  border-radius: 50%;
  animation: scroll-bounce 5s infinite;
    box-shadow: 1px 1px 20px #fff;

}

/* Dot bounce animation */
@keyframes scroll-bounce {
  0%, 20% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(24px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

 
@keyframes bounce-frame {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
}
@media (max-width: 768px) {
  .scroll-indicator {
    width: 15px;
    height: 50px;
    border-width: 4px;
    padding: 6px;
  }

  .scroll-dot {
    width: 15px;
    height: 15px;
  }
}